:root {
  --primary-color: #e0c097;
  --secondary-color: #d4b17a;
  --bg-color: #1e1e1e;
  --card-bg: #fffefc;
  --text-color: #fff;
  --text-dark: #5b3a29;
}

body {
  margin: 0;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
}
main {
  padding: 20px;
  min-height: calc(100vh - 120px); 
}
