
body {
  margin: 0;
  background-color: #bb9173cf;  
  font-family: 'Georgia', serif;
  color: #fff; 
}

.products {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

button {
  font-family: 'Georgia', serif;
}
