.header {
  border-bottom: 1px solid #e6e6e6;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-btn {
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 4px;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid transparent;
  transition: border-color 0.25s;
}

.header-btn:hover {
  border-color: #646cff;
}
